/tracefiles/
/sprayer_rule_tim.json
/state_tim.json
/timers_fan_in_tim.json
/timers_fan_out_tim.json
/timers_light1_tim.json
/timers_light2_tim.json
/timers_light3_tim.json
/timers_light4_tim.json
/timers_light6_tim.json
/timers_mist_tim.json
/timers_pump_tim.json
/timers_sprayer_tim.json
/timers_uvlight_tim.json
/properties_tim.json
/ruleset1_tim.json
/ruleset2_tim.json
/sensors_tim.json
